{% extends "todo_list/base.html" %}

{% block content %}

{% if messages %}
    {% for message in messages %}
    <div class="alert alert-warning alert-dismissable" role="alert">
        
        {{ message }}

        <button class="close" data-dismiss="alert">
            <small><sup>x</sup></small>
        </button>
    </div>

    {% endfor %}
{% endif %}

{% if items %}
        <table class="table table-bordered mt-4">
            <thead class="thead-dark">
                <tr>
                    <th >Item</th>
                    <th><center>Completed</center></th>
                    <th><center>Delete</center></th>
                </tr>
               
            </thead>
            <tbody>
            {% for item in items %}

            {% if item.completed %}
                <tr class="table-secondary">
                <td class="striker"><a href="{% url 'edit' item.id %}">{{ item.item }}</a></td>
                <td><center><a class="btn btn-secondary" href="{% url 'uncross' item.id %}">Uncross</a></center></td>
            {% else %}
                <tr>
                <td><a href="{% url 'edit' item.id %}">{{ item.item }}</a></td>
                <td><center><a class="btn btn-warning" href="{% url 'cross_off' item.id %}">Cross Off</a></center></td>
            {% endif %}
                <td><center><a class="btn btn-danger" href="{% url "delete" item.id %}">Delete</a></center></td>
            </tr>
            
            {% endfor %}
        </tbody>
        </table>
    {% else %}
        <p>No items to display.</p>
    {% endif %}
{% endblock %}